<div class="container">
  <header class="header">
      <div class="text-box">
        <h1 class="heading">{{ title }}</h1>
        <p class="text">This application allows the user to search for a specific book's imformation</p>
      </div>
  </header>

  <section class="content">

    <form class="search" (submit)="onSubmit()">
      <input name="search" type="text" [(ngModel)]="filter.search">
      <input type="submit">
    </form>

    <table class="book-table" border="solid">
      <tr>
        <th>Img</th>
        <th>Title</th>
        <th>Author</th>
        <th>Description</th>
      </tr>

      <tr *ngFor="let book of books">
        <td><img height="250" width="200" src="{{ book.img }}" alt="Image"></td>
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.description }}</td>
      </tr>
    </table>

  </section>
</div>